@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

:root {
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
}

* {
  font: 15px;
  box-sizing: border-box;
  font-family: "Inter";
  font-weight: 400;
}

body {
  margin: 4em 8em;
  background-color: var(--off-white);
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 4em 0em;
}

nav a {
  cursor: pointer;
}

nav a:hover {
  color: var(--soft-red);
}

h1 {
  font-size: 3.5rem;
  font-weight: 800;
  padding-right: 1em;

  margin: 0;
  width: 80%;
}

.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 450px;
}

#home {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 2em;
  row-gap: 1em;
}

#home-image {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

#home-image img {
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 100%;
  max-height: 100%;
}

#home-cta {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 5;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  padding: 0.5em;
}

#cta-content {
  width: 80%;
}

#cta-content p {
  margin: 0;
  line-height: 1.8rem;
  color: var(--dark-grayish-blue);
}

#home-cta button {
  width: 50%;
  height: 4.5em;
  margin-top: 3em;
  padding: 1em;

  color: var(--off-white);
  background-color: var(--soft-red);
  font-weight: 700;
  border: none;
  letter-spacing: 0.3rem;
  text-transform: uppercase;

  cursor: pointer;
}

#home-cta button:hover {
  background-color: var(--very-dark-blue);
}

#home-new {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 5;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2em 1em;

  background-color: var(--very-dark-blue);
}

#home-new h2 {
  font-size: 3rem;
  line-height: 1rem;
  margin: 0;
  color: var(--soft-orange);
  font-weight: 700;
}

#home-new h4 {
  font-size: 1.2rem;
  color: var(--off-white);
  cursor: pointer;
}

#home-new h4:hover {
  color: var(--soft-orange);
}

#home-new p {
  line-height: 2em;
  color: var(--grayish-blue);
}

#mid-div {
  border-top: 0.5px solid var(--grayish-blue);
  border-bottom: 0.5px solid var(--grayish-blue);
}

#footer {
  margin: 5em 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#footer img {
  width: 150px;
  height: 150px;
  padding: 0 1.5em;
}

.footer-item {
  display: flex;
  line-height: 2rem;
}

.footer-item h4 {
  font-size: 2rem;
  color: var(--grayish-blue);
  margin: 0;
}

.footer-item h6 {
  font-size: 1.1rem;
  margin: 0.4rem 0;
  cursor: pointer;
  font-weight: 800;
}

.footer-item p {
  font-weight: 400;
  margin: 0;
  color: var(--dark-grayish-blue);
}

.footer-item h6:hover {
  color: var(--soft-red);
}

.home-content {
  border: none;
}

#myLinks {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: var(--off-white);
  text-decoration: none;
  margin-top: 2em;
}

#myLinks a {
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  color: var(--very-dark-blue);
}

.hamburger-menu {
  display: none;
}

.close {
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
}

@media screen and (max-width: 1000px) {
  body {
    font-size: 12px;
    margin: 0;
    padding: 1em 3em;
  }

  nav {
    margin: 2em 0em;
    align-items: center;
  }

  .nav-items {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }

  #home {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);

    height: 1200px;
  }

  #home-image {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 2;

    margin: 0;
    padding: 0;
    height: 200px;
  }

  #home-image img {
    background-size: contain;
    height: 100%;
    width: 100%;
  }

  #home-cta {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 3;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;

    margin: 1em;
  }

  #home-cta h1 {
    font-size: 2rem;
  }

  #home-cta button {
    width: 15em;
    height: 3.5em;
  }

  #home-new {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 4;
    margin: 1rem;
    padding: 2.8rem;
  }

  #home-new h2 {
    font-size: 2.5em;
  }

  #home-new h4 {
    font-size: 1.5em;
  }

  #footer {
    margin: 3em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .footer-item {
    display: flex;
    line-height: 1.5rem;
    padding: 0.5em;
    margin: 1em;
  }
}

@media screen and (min-width: 1001px) {
  .nav-items {
    display: flex;
  }

  .hamburger-menu {
    display: none;
  }
}
